.close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 10px;
    position: relative;

    &:hover {
        &:after,
        &:before {
            border-color: $conifer;
        }
    }
}
.close:after {
    content: '';
    height: 30px;
    border-left: 2px solid $white;
    position: absolute;
    transform: rotate(45deg);
    left: 28px;
}

.close:before {
    content: '';
    height: 30px;
    border-left: 2px solid $white;
    position: absolute;
    transform: rotate(-45deg);
    left: 28px;
}
