.contact {
  text-align: center;
}

.contact_address {
  font-style: normal;
  margin-bottom: 50px;

  @media screen and (min-width: 64em) {
    margin-bottom: 100px;
  }
}

#map {
  width: 100%;
  height: 400px;
  background-color: gallery;
}